extends ../layout

block content
  div#market-content
  script.
    window.market = {}
    window.market.currency = '#{currency}';
    window.market.baseCurrency = '#{baseCurrency}'
  script(src='/js/market/market.js')

