footer
  .container.text-center
    p.float-left © 2018 beesEX-Group. All Rights Reserved
    ul.float-right.list-inline
      li.list-inline-item
        a(href='https://github.com/beesEX/ui') GitHub Project
      li.list-inline-item
        a(href='https://github.com/beesEX/ui/issues') Issues
