extends layout

block content
  h1 beesEX
  p.lead busy bees cross-pollinate your successes
  hr
  .row
    .col-md-3
      img.mx-auto.d-block(src="/img/cryptos/PNG/BTC.png", width="50%", style="margin: 10px 0")
    .col-md-3
      img.mx-auto.d-block(src="/img/cryptos/PNG/ETH.png", width="50%", style="margin: 10px 0")
    .col-md-3
      img.mx-auto.d-block(src="/img/cryptos/PNG/XRP.png", width="50%", style="margin: 10px 0")
    .col-md-3
      img.mx-auto.d-block(src="/img/cryptos/PNG/ADA.png", width="50%", style="margin: 10px 0")
    .col-md-3
      img.mx-auto.d-block(src="/img/cryptos/PNG/XLM.png", width="50%", style="margin: 10px 0")
    .col-md-3
      img.mx-auto.d-block(src="/img/cryptos/PNG/MIOTA.png", width="50%", style="margin: 10px 0")
    .col-md-3
      img.mx-auto.d-block(src="/img/cryptos/PNG/EOS.png", width="50%", style="margin: 10px 0")
    .col-md-3
      img.mx-auto.d-block(src="/img/cryptos/PNG/LTC.png", width="50%", style="margin: 10px 0")

  .row
      .col-md-3
          img.mx-auto.d-block(src="/img/cryptos/PNG/NEO.png", width="50%", style="margin: 10px 0")
      .col-md-3
          img.mx-auto.d-block(src="/img/cryptos/PNG/DASH.png", width="50%", style="margin: 10px 0")
      .col-md-3
          img.mx-auto.d-block(src="/img/cryptos/PNG/XMR.png", width="50%", style="margin: 10px 0")
      .col-md-3
          img.mx-auto.d-block(src="/img/cryptos/PNG/BNB.png", width="50%", style="margin: 10px 0")
      .col-md-3
          img.mx-auto.d-block(src="/img/cryptos/PNG/VEN.png", width="50%", style="margin: 10px 0")
      .col-md-3
          img.mx-auto.d-block(src="/img/cryptos/PNG/XEM.png", width="50%", style="margin: 10px 0")
      .col-md-3
          img.mx-auto.d-block(src="/img/cryptos/PNG/QTUM.png", width="50%", style="margin: 10px 0")
      .col-md-3
          img.mx-auto.d-block(src="/img/cryptos/PNG/ZEC.png", width="50%", style="margin: 10px 0")