extends layout

block content
    div
        input#csrf(type='hidden', name='_csrf', value=_csrf)
        select#side
            option(value="ask") ASK
            option(value="bid") BID
        select#api
            option(value="wss://api.gemini.com/v1/marketdata/btcusd") wss://api.gemini.com/v1/marketdata/btcusd
        button#controlBtn(onclick="toogleConnection()") connect
    ul#orderList
    script(src="/js/order-replay/index.js")
