extends layout

block content
    div
        select
            option(value="ask") ASK
            option(value="bid") BID
        button(onclick="toogleConnection()") connect
    ul#orderList
    script(src="/js/order-replay/index.js")
