$container-max-widths: (
  sm: 540px,
  md: 720px,
  lg: 960px,
  xl: 1500px
) !default;

@import "themes/default/variables";

@import "node_modules/bootstrap/scss/bootstrap";
@import "node_modules/@ladjs/bootstrap-social/bootstrap-social.scss";
@import "lib/font-awesome/fontawesome";
@import "lib/font-awesome/fa-brands";
@import "lib/font-awesome/fa-regular";
@import "lib/font-awesome/fa-solid";

@import "themes/default/default";

// Scaffolding
// -------------------------

html {
  position: relative;
  min-height: 100%;
}

body {
  padding-top: 60px;
  margin-bottom: 75px;
  font-size: 14px;
}

footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 45px;
  line-height: 45px;

  p, ul {
    margin-bottom: 0;
  }
}

// Input Fields
// -------------------------

textarea {
  resize: vertical;
}

// Navbar
// -------------------------

.navbar-nav img {
  width: 30px;
  min-height: 30px;
  margin: -15px 15px -15px;
}

.navbar{
  padding: 0px;
  display: block;
}

.navbar-brand{
  font-size: 18px;
  float: left;
  margin-left: 15px;
}

.navbar-toggler {
  position: relative;
  float: right;
  margin-right: 15px;
  margin-bottom: 8px;
  margin-top: 8px;
}

.navbar-toggler-icon {
  font-size: 16px;
}

.dropdown-menu {
  left: initial;
  right: 0;
}

// Alerts
// -------------------------

.alert {
  margin-top: 20px;
}

// Thumbnails
// -------------------------

.thumbnail {
  padding: 0;
  border-radius: 0;
  box-shadow: 0 0 5px #ccc, inset 0 0 0 #000;
}

// Font Icons
// -------------------------

.fa {
  margin-right: 6px;
}

.fab {
  margin-right: 6px;
}

.fas {
  margin-right: 6px;
}

.far {
  margin-right: 6px;
}

.market-form-container{

  padding: ($grid-gutter-width / 2);

}
.market-form-buy-part{

  border-right: $nav-tabs-border-width/2 solid $nav-tabs-border-color;

  padding-right: ($grid-gutter-width);

  padding-left: ($grid-gutter-width);

}

.market-form-sell-part{

  border-left: $nav-tabs-border-width/2 solid $nav-tabs-border-color;

  padding-right: ($grid-gutter-width);

  padding-left: ($grid-gutter-width);

}
.market-form-sell-part > div{

  flex-wrap: nowrap !important;

}

.market-total-input{

  margin-top: ($grid-gutter-width * 2) !important;

}

.market-input{

  margin-top: ($grid-gutter-width/2) !important;

}

.market-form-submit-button{

  margin-top: ($grid-gutter-width) !important;
}

.market-wallet-currency{

  text-align: right;

}

.market-wallet-quantity {

  text-align: left;

}

.market-wallet-symbol{

  text-align: right;

}

.market-input-label{

  font-weight: bold;

}

.orderHistoryHeadline{

  margin-top: ($grid-gutter-width) !important;

}

.order-history-table-wrapper{

  overflow: auto;

}

.tradingViewChartContainer{

  height: 100%;
  margin-bottom: ($grid-gutter-width) !important;

}

.aggregated-order-book-row {
  position: relative;

  & > div {
    overflow: hidden;
  }
  .percent-filled {
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
  }
}

.aggregated-table-asks {
  margin-bottom: ($grid-gutter-width) !important;

  .aggregated-price {
    color: #f62bfa;
  }
  .aggregated-order-book-row .percent-filled {
    background-color: rgba(#f62bfa, 0.5);
  }

  line-height: 1.5;

}

.aggregated-table-bids {

  .aggregated-price {
    color: #47fa75;
  }
  .aggregated-order-book-row .percent-filled {
    background-color: rgba(#47fa75, 0.5);
  }

  line-height: 1.5;
}